# - Indexing

In [2]:
# Make a string

a= "samosa pakora"
a

'samosa pakora'

In [4]:
a

'samosa pakora'

In [9]:
# Length of indecies
len(a)

13

In [5]:
a[0]

's'

In [6]:
a[1]

'a'

In [8]:
a[6]

' '

In [10]:
a[12]

'a'

In [13]:
a[0:5]

'samos'

In [14]:
a[0:6]

'samosa'

In [16]:
a[-1]

'a'

In [22]:
a[-7:13]

' pakora'

In [31]:
food ="biryani"
food

'biryani'

# String Methods

In [32]:
food

'biryani'

In [30]:
len(food)

7

In [34]:
# Capatalize
food.capitalize

'Biryani'

In [36]:
# Lower case
food.lower()

'biryani'

In [39]:
food.replace("b", "Sh")

'Shiryani'

In [40]:
# Counting a specific alphabet in a string
name ="baba_aammar_with Dr Ammar Tufail"
name

'baba_aammar_with Dr Ammar Tufail'

In [41]:
name.count("a")

7

In [43]:
name.count("ba")

2

### - Finding an index number in a string

In [45]:
name ="baba_aammar_with Dr Ammar Tufail"
name

'baba_aammar_with Dr Ammar Tufail'

In [51]:
name.find("l")

31

### -How to split a string

In [53]:
food=" I love samosa, raita, biryani and karahi "
food

' I love samosa, raita, biryani and karahi '

In [55]:
food.split(",")

[' I love samosa', ' raita', ' biryani and karahi ']

# - Basic Data Structures in Python

## 1- Tuple
## 2- List
## 3- Dictionaries
## 4- Set

## Tuple
- Order collection of elements
- enclosed in () round braces / paranthesis
- Different kind of elements can be stored
- Once elements are stored you cannot change them (unmutatable)

In [61]:
tup1= (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [63]:
# Type of a Tuple
type(tup1)

tuple

### - Indexing in Tuple

In [68]:
tup1[1]

'python'

In [69]:
tup1[2]

True

In [70]:
# Last element is exclusive
tup1[0:3]

(1, 'python', True)

In [71]:
# Count the length of Tuple
len(tup1)

4

In [73]:
tup2=2, "BabaAammar", 2.5, False
tup2

(2, 'BabaAammar', 2.5, False)

In [74]:
# Concatinate or adding Tuples in the language of programming
tup1 +tup2

(1, 'python', True, 2.5, 2, 'BabaAammar', 2.5, False)

In [76]:
tup1*2+tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'BabaAammar', 2.5, False)

In [77]:
tup3= 20, 50, 30, 99
tup3

(20, 50, 30, 99)

In [78]:
#Minimum valeues
min(tup3)

20

In [80]:
#Maximum value
max(tup3)

99

---

## -List
- Ordered collection of elements
- enclosed in [] square brackets
- mutatable, you can change the values

In [84]:
list1=["BabaAammar", 2.5, False]
list1

['BabaAammar', 2.5, False]

In [85]:
type(list1)

list

In [86]:
len(list1)

3

In [90]:
list1[2]

False

In [91]:
list2=[3, 5, "Aammar", "Codanics", 478, 53.7, False]
list2

[3, 5, 'Aammar', 'Codanics', 478, 53.7, False]

In [92]:
list1+list2

['BabaAammar', 2.5, False, 3, 5, 'Aammar', 'Codanics', 478, 53.7, False]

In [93]:
list1*2

['BabaAammar', 2.5, False, 'BabaAammar', 2.5, False]

In [98]:
list1.reverse()
list1

['BabaAammar', 2.5, False]

In [100]:
list1.append("Codanics Youtube Channel")
list1

['BabaAammar',
 2.5,
 False,
 'Codanics Youtube Channel',
 'Codanics Youtube Channel']

In [103]:
list1

['BabaAammar',
 2.5,
 False,
 'Codanics Youtube Channel',
 'Codanics Youtube Channel']

In [ ]:
list.count()
# List.count function

In [110]:
list3 =[20, 30, 35, 40 , 12, 15, 10, 356, 56, 886]
list3

[20, 30, 35, 40, 12, 15, 10, 356, 56, 886]

In [111]:
len(list3)

10

In [114]:
# Sorting a list
list3.sort()
list3

[10, 12, 15, 20, 30, 35, 40, 56, 356, 886]

### -Dictionaries
- An unordered collection of elements
- Key and value
- curley brackets {}
- Mutatable/ Change the values

In [127]:
#Food and their prices
food1={"Samosa":30,"Pakora":100, "Raita":30, "Salad":50, "Chicken Rolls":30}
food1

{'Chicken Rolls': 30, 'Pakora': 100, 'Raita': 30, 'Salad': 50, 'Samosa': 30}

In [128]:
type(food1)

dict

In [133]:
# extract data
keys1= food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Rolls'])

In [135]:
values1=food1.values()
values1

dict_values([30, 100, 30, 50, 30])

In [141]:
#Adding new item
food1["Tikki"]=10
food1

{'Chicken Rolls': 30,
 'Pakora': 100,
 'Raita': 30,
 'Salad': 50,
 'Samosa': 30,
 'Tikki': 10}

In [144]:
# Update the values
food1["Tikki"]=15
food1

{'Chicken Rolls': 30,
 'Pakora': 100,
 'Raita': 30,
 'Salad': 50,
 'Samosa': 30,
 'Tikki': 15}

In [148]:
food2= {"Dates":15, "Chocolate":200, "Sawayyan":1000}
food2

{'Chocolate': 200, 'Dates': 15, 'Sawayyan': 1000}

In [151]:
# Concatinate
food1.update(food2)
food1

{'Chicken Rolls': 30,
 'Chocolate': 200,
 'Dates': 15,
 'Pakora': 100,
 'Raita': 30,
 'Salad': 50,
 'Samosa': 30,
 'Sawayyan': 1000,
 'Tikki': 15}

## -4 Set
- Unordered an unindexed
- curly braces are used {}
- No duplicates allowed

In [153]:
s1={1,2,3,5.2,"Aammar","Codanics","Faisalabad", True}
s1

{1, 2, 3, 'Codanics', 5.2, 'Faisalabad', 'Aammar'}

In [163]:
s1

{1, 2, 3, 'Codanics', 5.2, 'Faisalabad', 'Aammar', 'MS', 'f'}

In [164]:
s1.remove("f")
s1

{1, 2, 3, 'Codanics', 5.2, 'Faisalabad', 'Aammar', 'MS'}